@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Roboto:wght@400;500&display=swap');

:root {
    --font1: 'DM Sans'; 
    --font2: 'Roboto';
    --color1: #f59a13; /* logs */
    --color2: #f78228; /* logs title */
    --color3: #ff8d54; /* background color */
    --color31: #ff6970;
    --color4: black; /* footer */
    --color5: black; /* iframe boorder*/
    --color6: #a51e17; /* text title color*/
}

@keyframes fade-in {
    from { 
        opacity: 0; 
    } to { 
        opacity: 1; 
    }
}

@keyframes translateY {
    0% {
        transform: translateY(0);
    } 
    100% {
        transform: translateY(-5px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes UpDown { /*Animação do eye*/
    0% {
        opacity: 1;
        transform: translateY(-4%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    color: white;
    font-size: 26px;
    background-image: linear-gradient(to right bottom, var(--color3), var(--color31));
}

img {
    width: 50px;
    padding: 10px;
}

article {
    max-width: 800px;
    min-width: 320px;
    display: block;
    margin: auto;
}

ul{
    list-style-type: square;
}

ul > ul{
    list-style-type: disc;
}

main > article > section.tela {
    position: relative;
    border-radius: 4px;
    padding: 0;
    padding-bottom: 59%;
    margin: 20px 0px 0px 0px;
}

section.website > #img_top {
    margin-top: 10px;
    margin-bottom: -40px;
    text-align: center;
    width: 250px;
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.8)); /* Ajuste os valores conforme necessário */
    /* Animação */
    opacity: 0;
    animation: UpDown 1.5s infinite alternate;
}

iframe{
    position: absolute;
    border: 3px solid var(--color5);
    width: 90%;
    height: 90%;
    /*Centralizar*/
    left: 50%;
    transform: translate(-50%, 0%);
}

main > article > section.texto {
    margin-top: 60px;
    text-align: center;
    /* Animação */
    opacity: 0;
    animation: fade-in 1.8s forwards;
}

main > article > section.texto > #color {
    color: var(--color6);
}

section.website {
    display: flex;
    text-align: center;
    justify-content: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

section.website a:hover {
    animation: translateY 2s;
}

main > article > section.logs {
    font-family: var(--font2);
    font-weight: 100;
    font-size: 20px;
    display: block;
    background-color: var(--color1);
    padding: 15px;
    margin: 4%;
    margin-top: 60px;
    border-radius: 10px;
}

.logs_titulo {
    display: block;
    font-family: var(--font2);
    font-weight: 100;
    font-size: 26px;
    text-shadow: 1px 1px 3px rgb(99, 74, 122);;
    background-color: var(--color2);
    padding: 15px;
    margin: -15px;
    border-radius: 8px 8px 0px 0px;
}

.logs > div > ul{
    padding-top: 10px;
}

span#burguer{
    text-align: center;
    display: block;
    padding: 15px;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 5px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: var(--color2);
    color: black;
}

section#hamburguer {
    display: none;
    animation: fade-in 0.5s ease;
}

main > article > section#hamburguer > .logs {
    font-family: var(--font2);
    font-weight: 100;
    font-size: 20px;
    display: block;
    background-color: var(--color1);
    padding: 15px;
    margin: 4%;
    margin-top: 60px;
    border-radius: 10px;
}

footer{
    background-color: var(--color4);
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
    padding: 1px;
}

footer a {
    color: rgb(77, 145, 255);
    text-decoration: none;
}